body {
    background-color: lightblue;
    font-family: Arial;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.box {
    background: white;
    padding: 20px;
    width: 250px;
    text-align: center;
    border-radius: 5px;
}

input {
    width: 90%;
    padding: 8px;
    margin: 5px 0;
}

button {
    width: 100%;
    padding: 8px;
    background: blue;
    color: white;
    border: none;
}

button:hover {
    background: darkblue;
}

#message {
    margin-top: 10px;
}
